body {
  height: 500vh;
  background-color: #131313;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

a:hover {
  color: rgb(109, 61, 164);
  text-decoration: underline;
}

header {
  position: relative;
  padding: 0 1.5rem;
}

/*navbar section*/

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #131313;
}

.navbar .title {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle-btn {
  color: white;
  font-size: 1.7rem;
  cursor: pointer;
  display: none;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 1rem;
  top: 60px;
  height: 0;
  width: 170px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
  height: 130px;
}

.dropdown-menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 662px) {
  .navbar .links {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

@media (max-width: 490px) {
  .dropdown-menu {
    left: 2rem;
    width: unset;
  }
}

.initial-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 80vh;
  background-color: #131313;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 50px;
  padding-left: 20px;
}

.initial-section .initial-text {
  padding: 15px;
}

.initial-section .initial-text h2 {
  font-size: 4rem;
  margin-top: 10px;
  color: white;
}

.initial-section .initial-img {
  text-align: center;
}

.initial-section .initial-img img {
  height: 80%;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .initial-section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
    text-align: center;
    margin-bottom: 4rem;
  }

  .initial-section.initial-text h2 {
    font-size: 2.2rem;
    margin-top: 2rem;
  }
}



@media screen and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }

  .main__content h2 {
    font-size: 2rem;
  }

  .main__content p {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
}

.quote-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 55vh;
  background-color: rgb(253, 79, 79);
  z-index: 1;
  width: 100%;
  max-width: 100%;
}

.quote-section .quote-img {
  text-align: center;
}

.quote-section .quote-img img {
  height: 85%;
  width: 85%;
}

.quote-section .quote blockquote {
  font-style: italic;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 20px;
  quotes: "\201C""\201D""\2018""\2019";
  height: auto;
  font-size: 2.5rem;
}

.quote-section .quote blockquote:before {
  content: open-quote;
}

.quote-section .quote blockquote:after {
  content: close-quote;
}

.quote-section .quote blockquote footer {
  text-align: right;
  display: block;
  margin-top: 10px;
}

.quote-section .quote blockquote cite {
  font-style: normal;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .quote-section {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-self: center;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    text-align: center;
    margin-bottom: 4rem;
  }
}

/*main section*/

.main-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-self: center;
  margin: 0 auto;
  height: 85vh;
  background-color: rgb(253, 79, 79);
  z-index: 1;
  width: 100%;
  max-width: 100%;
}

